*{
    margin:0;
    padding:0;
}

/* トップページの背景 */
.background-container{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./img/top-back.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

/* 経歴などのコンテナ */
.fav-container{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

/* 経歴をふわっと表示 */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card{
    width: 31%;
    border: 1px solid black;
    background-color: white;
    filter: drop-shadow(10px 25px 20px rgba(21, 26, 35, 0.6));
    opacity: 0;
    transition: all 0.5s ease-out;
}

.card-visible {
    animation: fadeIUp 0.5s forwards;
}

.card_description{
    padding: 20px;
}

.card_description > ul{
    line-height: 2.0;
    text-align: left;
}

li{
    list-style: none;
}



/* 猫アイコン */
.container a{
    text-decoration: none;
    color: black;
}


/* SNSアイコン */
.sns-contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sns-contents i {
    font-size: 40px;
    color: white;
    padding: 10px;
}



/* 背景画像の固定 */
.fixed-background {
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.background-color-1{
    background-color: rgb(28, 27, 27);
    color: rgb(229, 229, 229);
    padding: 10px;
}

.background-1 {
    background-image: url(./img/back1.jpg);
}

.background-2 {
    background-image: url(./img/back2.jpg);
}

.background-2>a{
    margin: 10px;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: #2a7ff5;
    color: white;
    padding: 20px 0;
    font-size: 20px;
}



@media screen and (max-width: 768px){
    .background-container{
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./img/top-back-mov.jpg);
        height: 90vh;
        font-size: 1.2rem;
    }

    .fav-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .card{
        width: 100%;
        margin-bottom: 40px;
    }

    .table{
        font-size: 0.6rem;
    }


}

/* 画像のポップアップ表示の勉強 */
#overlay {
    position: fixed;/*これを使ったらtopとleftの初期位置を指定する*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 10;
}

#modal {
    position: fixed;
    z-index: 11;
    /* 以下の３点セットで要素を中央に配置できる小技 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#popupImage {
    max-width: 80vw;
    max-height: 80vh;
}

#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}
